[Unit]
Description=Мониторинг веб-приложения

[Service]
Type=simple
ExecStart=/home/klipper/testForVK/monitor.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=app-monitor